{% extends "layout/splash.twig" %}
{% macro input(name, value, type, size) %}
    <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}"/>
{% endmacro %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block pagetitle %}
    Please login
{% endblock %}
{% block content %}
    <form role="form" method="post" action="/login">
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="E-mail/Username" name="login" type="text" required autofocus>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Password" name="password" type="password" required value="">
            </div>
            <div class="checkbox">
                <label>
                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                </label>
            </div>
            <!-- Change this to a button or input when using this as a form -->
            <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
        </fieldset>
    </form>
    <div>
        <small>{{ config('register') ? '<a href="/register">Register</a>' : '' }}{{ (config('register') and config('apply')) ? ' | ' : '' }}{{ config('apply') ? '<a href="/apply">Apply</a>' : '' }}</small>
    </div>
{% endblock %}