{% extends "layout/layout.twig" %}

{% block title %}Browse torrents{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block pagetitle %}
    Browse Torrents
{% endblock %}
{% block content %}
    {% include "layout/search.twig" %}
    <table class="table table-striped text-left">
        <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Added</th>
                <th>Size</th>
                <th>Seeds</th>
                <th>Leech</th>
                <th>Uploader</th>
            </tr>
        </thead>
        <tbody>
        {% for torrent in torrents %}
            <tr>
                <td><a href="/browse?category={{ torrent.category_id }}">{{ torrent.category_icon ?? torrent.category_name }}</a></td>
                <td><a href="/torrent/{{ torrent.id }}">{{ torrent.name }}</a></td>
                <td>{{ torrent.added }}</td>
                <td>{{ torrent.size|format_bytes }}</td>
                <td class="seeds">{{ torrent.seed }}</td>
                <td class="leech">{{ torrent.leech }}</td>
                <td>{{ torrent.hide_user ? 'Anonymous' : (torrent.username ?: 'Anonymous') }}</td>
            </tr>
        {% else %}
            <tr>
                <td>No torrents found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "layout/pagenate.twig" %}
{% endblock %}