{% extends "layout/layout.twig" %}

{% block title %}Torrent{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block pagetitle %}
    {{ torrent.name }}
{% endblock %}
{% block content %}
    {#<a class="btn btn-primary" href="/torrents/{{ torrent.id }}.torrent" download="{{ torrent.name }}.torrent">Download</a>#}
    <a class="btn btn-primary" href="/download/{{ torrent.id }}">Download</a>
{% endblock %}